@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
body {
  font-family: 'Inter','sans-serif';
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 1.5em 0 1.8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h1 {
  margin: 1em 0 1em 1em;
  font-size: 2.5vw;
  font-family: 'Inter',sans-serif;
}

.header button {
  margin: .4em 2em 0 2em;
  padding: 1em 1.5em;
  font-family: 'Inter';
  font-size: 1.2vw;
  font-weight: 600;
  color: white;
  background-color: #01A72E;
  border: none;
  cursor: pointer;
  -webkit-transition: color .4s;
  transition: color .4s;
  border-radius: .5em;
}

.header button:hover {
  color: #01A72E;
  background-color: white;
  border: 3px solid #01A72E;
}

.header .search-box {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.header .search-box img {
  position: absolute;
  width: 33px;
  height: 33px;
  margin: 1em 0 auto 1em;
}

.header .search-box input {
  padding: 1.5em 2em;
  background-color: #E2E2E2;
  border-radius: .5em;
  border: none;
  width: 80%;
  font-family: 'Inter', 'sans-serif';
  padding-left: 5em;
  margin-top: .5em;
}

.header .search-box input::-webkit-input-placeholder {
  font-weight: 600;
}

.header .search-box input:-ms-input-placeholder {
  font-weight: 600;
}

.header .search-box input::-ms-input-placeholder {
  font-weight: 600;
}

.header .search-box input::placeholder {
  font-weight: 600;
}

.header .search-box input:focus {
  outline: none;
  border: 3px solid #01A72E;
}

.header .right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 3.5em;
  float: right;
  z-index: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .right-col input {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1.5em;
}

.header .right-col h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 1.2em;
  font-weight: 500;
  font-size: 1.5vw;
}

.header .right-col img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header .enter-name-window {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 7em;
  right: 3.5em;
  z-index: 2;
  -webkit-box-shadow: 0 0 30px 10px #ccc;
          box-shadow: 0 0 30px 10px #ccc;
  background-color: white;
  border-radius: .8em;
}

@-webkit-keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
  to {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
  to {
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
    opacity: 0;
    visibility: hidden;
  }
}

.header .enter-name-window h2 {
  font-size: 1.1em;
  color: #2b2b2b;
  font-weight: 500;
  margin: 1em 0 0 1.3em;
}

.header .enter-name-window input {
  width: 250px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 1.5em;
  padding: .2em .5em;
  font-weight: 600;
  border-radius: .3em;
  border: none;
  background-color: #DFD8CA;
  margin: 1em 2.5em 1.3em 1.1em;
}

.header .enter-name-window input:focus {
  outline: none;
  border: 2px solid #01A72E;
}

.header .enter-name-window img {
  position: absolute;
  width: 25px;
  right: 1em;
  top: 1em;
  cursor: pointer;
}

.header .enter-name-window::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  float: right;
  margin-right: .5em;
  color: transparent;
  border: 10px solid #CCC;
  border-radius: .2em;
  border-color: transparent transparent #FFF;
  margin-top: -18px;
  margin-left: 10px;
}

.hero-container {
  width: 93%;
  height: 100vh;
  display: block;
  overflow: scroll;
  border-radius: 1.5em 1.5em 0 0;
  margin: 1.5em auto 0 auto;
  background-color: #E2E2E2;
  padding-bottom: 8em;
  scrollbar-width: none;
}

.hero-container .navbar {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2.9em 0 0 3.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-container .navbar .nav__pointer {
  position: absolute;
  top: -15px;
  background-color: black;
  height: 50px;
  width: 73.5px;
  border-radius: .5em;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  opacity: 1;
}

.hero-container .navbar ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-container .navbar ul .active-item {
  color: white;
  z-index: 2;
}

.hero-container .navbar ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1.7em;
  color: black;
  font-weight: 600;
}

.notes-section {
  margin-right: -50px;
  /* Maximum width of scrollbar */
  padding-right: 50px;
}

.notes-section .empty-notes-section {
  position: absolute;
  margin: 5em auto;
  left: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.notes-section .empty-notes-section img {
  width: 300px;
  height: 300px;
}

.notes-section .empty-notes-section h1 {
  font-size: 3.5em;
  margin-left: .3em;
}

.notes-section .notes-grid-view {
  display: inline-block;
  margin: 1.2em 0 0 1.8em;
}

.notes-item-template {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
  cursor: pointer;
  -webkit-animation: enter-anim 1s forwards;
          animation: enter-anim 1s forwards;
  text-align: left;
}

@-webkit-keyframes enter-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
  }
}

@keyframes enter-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
  }
}

.notes-item-template .notes-item-animated {
  width: 350px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 350px;
  text-align: left;
  background-color: white;
  border-radius: .5em;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  margin: 3em 4em 0 0em;
  padding: .3em 0em 1.5em 1.5em;
  -webkit-box-shadow: 0 0 30px 10px #ccc;
          box-shadow: 0 0 30px 10px #ccc;
}

.notes-item-template .notes-item-animated:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.notes-item-template .notes-item-animated h1 {
  width: 300px;
  word-wrap: break-word;
  font-size: 1.7em;
  margin-right: 2em;
}

.notes-item-template .notes-item-animated .desc {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 1.3;
  font-size: .9em;
  margin-right: 2em;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.notes-item-template .notes-item-animated .action-tabs {
  margin: 1.5em 0 0 0;
  -webkit-transition: all .5s ease .5s;
  transition: all .5s ease .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notes-item-template .notes-item-animated .action-tabs img {
  width: 40px;
  height: 40px;
  margin-right: 1em;
  cursor: pointer;
}

.notes-item-template .notes-item-animated .action-tabs .button {
  font-family: 'Inter';
  background-color: #01A72E;
  margin: 0 1.5em 0 auto;
  padding: .3em 0em .3em .8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: .5em;
}

.notes-item-template .notes-item-animated .action-tabs .button .delete-btn {
  color: white;
  margin-right: .3em;
  font-weight: 600;
}

.notes-item-template .notes-item-animated .action-tabs .button img {
  width: 30px;
}

.add-note-popup {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  background-color: rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes fadeOut {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
    visibility: hidden;
  }
}

.add-note-popup .note-dialogue-box {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 1em;
  -webkit-box-shadow: 0 0 30px 5px #414141;
          box-shadow: 0 0 30px 5px #414141;
  padding: .8em .5em 1.3em 1.8em;
}

.add-note-popup .note-dialogue-box .title {
  text-align: left;
  font-size: 1.3em;
  color: #2b2b2b;
  font-weight: 500;
}

.add-note-popup .note-dialogue-box .close {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 1.1em;
  right: 1.3em;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.add-note-popup .note-dialogue-box .close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.add-note-popup .note-dialogue-box .title-input {
  width: 500px;
  float: left;
  background-color: #DFD8CA;
  border: none;
  font-weight: 500;
  font-size: 1.8em;
  border-radius: .5em;
  padding: .5em;
}

.add-note-popup .note-dialogue-box .title-input:focus {
  background-color: white;
  outline: none;
  border: 3px solid #01A72E;
}

.add-note-popup .note-dialogue-box .your-note-title {
  margin-top: 3.5em;
  font-size: 1.3em;
  color: #2b2b2b;
  font-weight: 500;
}

.add-note-popup .note-dialogue-box .note-input {
  width: 500px;
  min-height: 50px;
  max-height: 250px;
  float: left;
  font-weight: 400;
  font-size: 1.3em;
  font-family: 'Inter', sans-serif;
  max-width: 500px;
  min-width: 500px;
  background-color: #DFD8CA;
  border: none;
  border-radius: .6em;
  padding: 1em;
}

.add-note-popup .note-dialogue-box .note-input:focus {
  background-color: white;
  outline: none;
  border: 3px solid #01A72E;
}

.add-note-popup .note-dialogue-box p {
  width: 100%;
  position: relative;
  display: none;
  text-align: left;
  color: red;
  margin: 1.3em auto 0 .3em;
}

.add-note-popup .note-dialogue-box .section-checkboxes {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
  display: block;
  margin: 1.5em auto 0 0;
}

.add-note-popup .note-dialogue-box button {
  position: relative;
  border: none;
  padding: 1em 2em;
  float: right;
  background-color: #01A72E;
  color: white;
  margin: 1.3em 2.2em .5em 3em;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: .5em;
  cursor: pointer;
  bottom: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.add-note-popup .note-dialogue-box button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.display-note {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes bg-blur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes bg-blur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes bg-blur-remove {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes bg-blur-remove {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.display-note .display-note-section {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 560px;
  background-color: white;
  margin: auto;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding: 1.5em 1.5em 1em 2em;
  left: 50%;
  border-radius: 0 0 .7em .7em;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes slide-down {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes slide-down {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes slide-up {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@keyframes slide-up {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

.display-note .display-note-section .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-note .display-note-section .head input {
  width: 69%;
  font-size: 1.8em;
  margin: 0 0 0 .2em;
  font-weight: 600;
  border: none;
}

.display-note .display-note-section .head input:focus {
  border: none;
  outline: none;
}

.display-note .display-note-section .head .right-col {
  margin: .3em 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-note .display-note-section .head .right-col button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 .9em;
  font-size: 1.2em;
  font-weight: 500;
  margin-right: 1em;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #01A72E;
  border-radius: .4em;
}

.display-note .display-note-section .head .right-col button img {
  width: 25px;
  vertical-align: middle;
  margin: .5em .8em;
}

.display-note .display-note-section .head .right-col img {
  width: 35px;
  vertical-align: middle;
  cursor: pointer;
}

.display-note .display-note-section textarea {
  width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 500px;
  max-width: 500px;
  max-height: 560px;
  margin-top: 1em;
  -webkit-transition: height .2s;
  transition: height .2s;
  overflow-y: auto;
  font-family: 'Inter', sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  padding: .8em;
  border: none;
  resize: none;
  background-color: #E8E8CC;
}

.display-note .display-note-section textarea:focus {
  background-color: white;
  border: 2px solid #01A72E;
  outline: none;
}

.display-note .display-note-section p {
  color: #FF0000;
  margin-left: .2em;
}

.display-note .display-note-section .action-tabs {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
  margin: 1em 0 0 auto;
}

.display-note .display-note-section .action-tabs .cancel-btn {
  color: black;
  background-color: white;
  border: 3px solid black;
  margin-right: 1em;
}

.display-note .display-note-section .action-tabs button {
  padding: .8em 1.3em;
  color: white;
  background-color: #01A72E;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: .4em;
}

.display-note .display-note-section .action-tabs p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  margin-right: 1em;
  font-size: .8em;
  color: white;
  border-radius: 2em;
  background-color: black;
}

.display-note .display-note-section .action-tabs .fav {
  background-color: #FF0000;
}

.login-page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e2e2e2;
}

.login-page .login-page-section {
  display: block;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.login-page .login-page-section .name-section {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.login-page .login-page-section .name-section h1 {
  font-size: 4.8em;
  margin: 0;
}

.login-page .login-page-section .name-section h2 {
  color: #051E3E;
  font-weight: 600;
  margin: 1.5em 0;
}

.login-page .login-page-section .name-section h2:after {
  content: 'Your personal space';
  -webkit-animation-name: head;
          animation-name: head;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes head {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    content: "Notes for everyone";
  }
  65% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    content: 'Your personal space';
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    content: "Notes for everyone";
  }
}

@keyframes head {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    content: "Notes for everyone";
  }
  65% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    content: 'Your personal space';
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    content: "Notes for everyone";
  }
}

.login-page .login-page-section .name-section input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  margin-top: .5em;
  text-align: center;
  font-weight: 500;
  border: none;
  border-radius: .3em;
  font-size: 2em;
}

.login-page .login-page-section .name-section input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 30px 10px #d1d1d1;
          box-shadow: 0 0 30px 10px #d1d1d1;
  border: 3px solid #01A72E;
}

.login-page .login-page-section button {
  display: inline-block;
  margin-top: 2em;
  cursor: pointer;
  padding: 1em;
  border-radius: .5em;
  border: none;
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  background-color: #01A72E;
}

.login-page h3 {
  position: absolute;
  display: block;
  bottom: 0;
  font-weight: 600;
  font-size: 1.1em;
  color: #8f8e8e;
}

.delete-note {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes bg-filter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes bg-filter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes bg-filter-remove {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes bg-filter-remove {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.delete-note .delete-note-section {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 560px;
  background-color: white;
  margin: auto;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding: 1.5em 2em 1.5em 2em;
  left: 50%;
  border-radius: 0 0 .7em .7em;
  top: -200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@keyframes slide-down {
  from {
    top: -200px;
  }
  to {
    top: 0;
  }
}

@keyframes slide-up {
  from {
    top: 0;
  }
  to {
    top: -200px;
  }
}

.delete-note .delete-note-section h1 {
  font-weight: 600;
  font-size: 1.2em;
}

.delete-note .delete-note-section button {
  font-size: 1em;
  padding: .8em 1em;
  background-color: #FF0000;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: .5em;
  border-radius: .3em;
}

.delete-note .delete-note-section .cancel-btn {
  margin: auto 1em;
  padding: .6em 1em;
  background-color: white;
  color: black;
  border: 3px solid black;
}
/*# sourceMappingURL=main.css.map */